<div class="modal fade" id="passwordLostModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content passwordLost">
            <div class="rounded-circle img border border1">
                <img class="img-logo-login" src="../assets/Groupe 8.png"/></a>
            </div>
            <div class="modal-body passwordLost-body">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group champ">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                </div>    
            </div><!--modal-body-->
        <div>
    </div>
</div>