<html>
<head>
<title>Facebook Login using Node and Express</title>
</head>
<body>
<% if (!user) { %>
	<a href="/auth/facebook">Login with Facebook</a>
<% } else { %>
	<h2><%= user.name %>,</h2>
	<h2>Your email is : <%= user.email %>.</h2>
	<h2>Your picture is : <img style="border-radius: 50%" src="<%= user.picture.data.url %>" alt=""></h2>
	<h2>And your FacebookID is : <%= user.id %>.</h2>
	<a href="/logout">Se déconnecter</a>
<% } %>
</body>
</html>
