<!DOCTYPE html>
<html lang="en">
    {% include 'Dashboard/head.html.twig' %}
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include 'Dashboard/sidebar.html.twig' %}
        <!-- Main Content -->
        <div id="content">
            {% include 'Dashboard/navigation.html.twig' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Signalements</h1>
                </div>

                <div class="card shadow mb-4">
        <div class="card-header py-3">
        </div>
        <div class="card-body">
            
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                     <thead>
                    <tr>
                    <th>Avatar</th>
                    <th>Nom de la chaîne</th>
                    <th>Nombre de signalements</th>
                    <th>Liste des signalements</th>
                    <th>Management</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><i class="fas fa-user-circle fa-2x text-gray-300"></i></td>
                            <td>AlexSound</td>
                            <td>231</td>
                            <td>Voir</td>
                            <td>Bannir</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-user-circle fa-2x text-gray-300"></i></td>
                            <td>EmeSound</td>
                            <td>25</td>
                            <td>Voir</td>
                            <td>Bannir</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-user-circle fa-2x text-gray-300"></i></td>
                            <td>AntSound</td>
                            <td>10</td>
                            <td>Voir</td>
                            <td>Bannir</td>
                        </tr>
                        <tr>
                            <td><i class="fas fa-user-circle fa-2x text-gray-300"></i></td>
                            <td>DidiSound</td>
                            <td>1</td>
                            <td>Voir</td>
                            <td>Bannir</td>
                        </tr>
                </tbody>    
            </table>
        </div>
    </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Webradio - Stream - 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% include 'Dashboard/Signalements/script.html.twig' %}

</body>

</html>