<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>
<script>
$(document).ready(function() {


    $.ajax({
    method: "GET", 
    url: "/admin/channel/userschannel", 
    async: true,
    success: function(data) {
        
        getchannels = data[0];
        listchannels = getchannels.channels;
        console.log(listchannels); 

                table = $("#corps-table");

				var max_size=listchannels.length;
				var sta = 0;
				var elements_per_page = 5;
				var limit = elements_per_page;
				goFun(sta,limit);
				function goFun(sta,limit){
                    console.log(sta,limit);
                    for(var x=sta;x<limit;x++){
                            var tab= "<tr><td>"+getchannels.channels[x].avatar
                        +"</td><td>"+getchannels.channels[x].nom_chaine
                        +"</td><td>"+getchannels.channels[x].proprietaire
                        +"</td><td>"+getchannels.channels[x].satuts
                        +"</td><td><a href='#removeModal' data-toggle='modal' data-dismiss='modal' class='far fa-trash-alt fa-2x' id='remove"+getchannels.channels[x].id+"'></a><a href='{{ path('admin.channel.edit') }}' class='fa-2x far fa-edit' id='edit"+getchannels.channels[x].id+"'></a></tr>";              
                     
                        $('#corps-table').append(tab);

                    }
                }
                            
                let  number = Math.round(getchannels.channels.length / elements_per_page);
                    console.log("number "+number+ "longueur "+ getchannels.channels.length);
                for(i=0;i<=number;i++) {
                    $('#pagination_data').append('<button style="text-decoration: none; outline: none"  class="rounded-circle border-0 pagination_button">'+(i+1)+'</button>');
                }
                $('.pagination_button').click(function(){
                    var start = $(this).text();
                    table.empty();
                    limit = 3*(parseInt(start)+1) > max_size ? max_size: 3*(parseInt(start)+1)
                    goFun(start*3,limit); 
                });
    }   
    });
});
</script>