<!DOCTYPE html>
<html lang="en">
    {% include 'Users/head.html.twig' %}
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include 'Users/sidebar.html.twig' %}
        <!-- Main Content -->
        <div id="content">
            {% include 'Users/navigation.html.twig' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="mb-4">
                    <h5 class="h5 mb-0 text-gray-800">Chaine</h5>
                </div>

                <div class="row">
                    <div class="col-xl-12 d-flex flex-row align-items-center justify-content-between mx-sm-3">
                        <span>
                            <a href="#" class="btn couleur-principal"> Bibliothèque de musiques</a>
                        </span>

                        <h1 class="text-black">Février 2020</h1>

                        <span>
                            <a href="#" class="btn couleur-btn">Précedent</a>
                            <a href="#" class="btn">Aujourd'hui</a>
                            <a href="#" class="btn couleur-btn">Suivant</a>
                        </span>
                    </div>
                </div>
                 <div class="row mt-3">
                          <div class="col-xl-12">
                            <div class="card shadow mb-4">
                                <!-- Card Body -->
                                <div class="card-body calendar">
                                    
                                </div>
                            </div>
                        </div>  
                    </div>

                
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span class="text-black">Copyright &copy; Webradio - Stream - 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% include 'Users/Planificiation/script.html.twig' %}

</body>

</html>