<div class="modal fade" id="loginModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content login">
            <div class="rounded-circle img border border1">
                <img class="img-logo-login" src="../assets/Groupe 8.png"/></a>
            </div>
            <div class="modal-body login-body">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group champ">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group champ">
                            <input type="password" class="form-control" placeholder="Mot de passe">
                        </div>
                        <div class="form-group champ">
                            <input type="button" id="" class="form-control border-0 font-weight-bold color-charte text-white" value="Connexion">
                        </div>
                        <div class="fb-login-button" data-width="350" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false">
                        </div>
                        <div class="d-flex flex-column align-items-center justify-content-center">
                            <span class="d-none d-lg-inline text-gray-600 small text-center" >Pas encore inscrit ? <a class="text-pink" href="#registerModal" data-toggle="modal" data-dismiss="modal">Inscrivez-vous</a></span>
                            <span class="d-none d-lg-inline text-gray-600 small text-center" >Mot de passe oublié ? <a class="text-pink" href="#passwordLostModal" data-toggle="modal" data-dismiss="modal">C’est ici</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'RegisterPage/modal.html.twig' %}
{% include 'PasswordLost/modal.html.twig' %}
{% include 'LoginPage/script.html.twig' %}