<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../js/sb-admin-2.min.js"></script>
<script>
//console.log("je suis ici dans users admin")

$(document).ready(function() {


    $.ajax({
    method: "GET", 
    url: "/listusers", 
    async: true,
    success: function(data) {
    
        listusers = data[0]; 
        userDetails= listusers.users;
        
                table = $("#corps-table");

				var max_size=userDetails.length;
				var sta = 0;
				var elements_per_page = 5;
				var limit = elements_per_page;
				goFun(sta,limit);
				function goFun(sta,limit){
                    console.log(sta,limit);
                    for(var x=sta;x<limit;x++){
                            var tab= "<tr><td>"+listusers.users[x].avatar
                        +"</td><td>"+listusers.users[x].username
                        +"</td><td>"+listusers.users[x].email
                        +"</td><td>"+listusers.users[x].nom_chaine
                        +"</td><td>"+listusers.users[x].role
                        +"</td><td>"+listusers.users[x].status;
                        if(listusers.users[x].role=== "ADMIN"){
                            tab +="</td><td><i class='fa-2x far fa-edit'></i>"
                        +"</tr>";
                        }
                        else{
                            tab +="</td><td><i class='far fa-trash-alt fa-2x'></i><i class='fa-2x far fa-edit'></i>"
                        +"</tr>";
                                        
                        }
                    

                        $('#corps-table').append(tab);

                    }
                }
                            
                let  number = Math.round(listusers.users.length / elements_per_page);
                    console.log("number "+number+ "longueur "+ listusers.users.length);
                for(i=0;i<=number;i++) {
                    $('#pagination_data').append('<button style="text-decoration: none; outline: none"  class="rounded-circle border-0 pagination_button">'+(i+1)+'</button>');
                }
                $('.pagination_button').click(function(){
                    var start = $(this).text();
                    table.empty();
                    limit = 3*(parseInt(start)+1) > max_size ? max_size: 3*(parseInt(start)+1)
                    goFun(start*3,limit); 
                });
        }
    });  
});

</script>