<div class="modal fade" id="registerModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content login">
            <div class="rounded-circle img border border1">
                <img class="img-logo-login" src="../assets/Groupe 8.png"/></a>
            </div>
            <div class="modal-body mt-3 login-body">
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group champ">
                            <input type="email" class="form-control" placeholder="Nom d'utilisateur">
                        </div>
                        <div class="form-group champ">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group champ">
                            <input type="password" class="form-control" placeholder="Mot de passe">
                        </div>
                        <div class="form-group champ">
                            <input type="button" id="color-charte" class="form-control border-0 font-weight-bold text-white" value="Connexion">
                        </div>
                        <div class="form-group champ">
                             <div class="fb-login-button" data-width="350" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm d-flex flex-column align-items-center justify-content-center">
                                <span class="d-none d-lg-inline text-gray-600 small text-center" >Déjà un compte ? <a class="text-pink" href="#loginModal" data-toggle="modal" data-dismiss="modal">Connectez
                                -vous</a></span>
                                <span class="d-none d-lg-inline text-gray-600 small text-center" >Mot de passe oublié ? <a class="text-pink" href="#passwordLostModal" data-toggle="modal" data-dismiss="modal">C’est ici</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'RegisterPage/script.html.twig' %}
{% include 'PasswordLost/modal.html.twig' %}