<!DOCTYPE html>
<html lang="en">
    {% include 'HomePage/head.html.twig' %}
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include 'HomePage/sidebar.html.twig' %}
        <!-- Main Content -->
        <div id="content">
            {% include 'HomePage/navigation.html.twig' %}
            <!-- Begin Page Content -->
            <div class="container-fluid">
                                
               <div class="conteneur d-flex flex-column align-items-center justify-content-center">
                    <div class="row recherche">
                        <div class="col"> 
                            <!-- Search form -->
                            <div class="form-group has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" class="form-control text-dark" placeholder="Rechercher une radio">
                            </div>
                        </div>
                    </div>
                    <div class="row toutesRadio">
                        <div class="col radio">
                            <!--titre -->
                            <div class="text-dark">
                                <h5>Radios les plus écoutés</h5>
                            </div>
                            <hr class="diviser">
                        </div>
                    </div>
                    <!--<audio id="track">
                        <source src="http://basichow.com/asserts/interlude.mp3" type="audio/mpeg" />
                    </audio>
                            <div id="player-container">
                                <div id="play-pause" class="play">Play</div>
                            </div>-->
                    <div class="row mt-5 tabradio">
                        <div id="list-radio" class="col-md mb-4">
                        
                        </div>
                    </div>
               </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span  class="text-black">Copyright &copy; Webradio - Stream - 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% include 'HomePage/script.html.twig' %}
 

</body>

</html>
