<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<script>
    $(document).ready(function() {


    $.ajax({
    method: "GET", 
    url: "/admin/signalement/users", 
    async: true,
    success: function(data) {
    
        listsignal = data[0]; 
        signalDetails= listsignal.signalements;
        console.log(listsignal.signalements);
                //function myClikedId(myId) { 

                    fluxSignal = listsignal.listSignales
                     table2 = $("#malist");

                    var max_size=fluxSignal.length;
                    var debut = 0;
                    var elements_per_page = 10;
                    var limit = elements_per_page;
                    gotab(debut,limit);
                    function gotab(debut,limit){
                        console.log(debut,limit);
                        for(var y=debut;y<limit;y++){
                                var tab1= "<tr><td><a href='{{path('admin.signalement.blankpage')}}' target='_blank'>"+listsignal.listSignales[y].flux_audio
                            +"</a></td><td>"+listsignal.listSignales[y].date_debutStream
                            +"</td><td>"+listsignal.listSignales[y].date_heureSignalement
                            +"</td><td>"+listsignal.listSignales[y].motif+"</td></tr>";              
                        
                            $('#malist').append(tab1);

                        }
                    }
                   
                //}
        }
    });  
});

</script>