<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-2 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
     <span class="d-flex align-items-center justify-content-center" id="img-logo-nav">
        <a href="{{ path('userdashboard') }}" ><img class="img-logo" src="../assets/Groupe 8.png"/></a>
     </span>
     
</nav>
<!-- End of Topbar -->